@import 'variables';

body {

  .main-content {
    #about-container {
      font-family: Helvetica;
      h1 {
        font-size: 36pt;
        color: #000000;
      }
      h2 {
        font-size: 36pt;
        color: #000000;
      }
      h3 {
        font-size: 20pt;
        color: #FFFFFF;
      }
      h4 {
        font-size: 20pt;
        color: $greyText;
      }
      h5 {
        font-size: 14pt;
        color: $aqua;
      }  
      h6 {
        font-size: 13pt;
        color: #FFFFFF;
      }
      p {
        &.stat-description {
          font-size:18pt;
        };
        font-size: 12pt;
        color: $greyText;
      }
      .bar1, .bar2, .bar3, .bar4, .bar5, .bar6 {
        position: relative;
        width: 100%;
        vertical-align: middle;
      }

      .bar1, .bar3, .bar4 {
        height: 450px;
      }

      .bar1 {
        .girls-coding {
          height: inherit;
          width: 60%;
          float: left;

          img {
            max-height: 80%;
            max-width: 100%;
            margin: 0 auto;
            display: block;
            border: solid 1px $greyText;
          }
        }
      }

      .bar2 {
        height: 200px;
        background-color: $aqua;
        padding: 0 1.3rem;

        .feature-icon {
          float: left;
          height: 100%;
          padding: 0 .5rem;
          position: relative;
          bottom: 3rem;
          i {
            color: white;
          }
        }

        .feature-block {
          width: 25%;
          float: left;
          margin: 0 1.2rem;
        }  

      }

      .bar3 {
        .all-stats {
          text-align: right;
          float: right;
          width: 50%;
          margin: 0 5%;
        }

        .stat-block {
          float: right;
          width: 50%;
          text-align: center;
          padding: 0% 5%;
        }

        .stat-description-only {
          margin-bottom: 0;
        }
      }

      .bar4 {
        background-color: $greyBackground;

        .all-members {
          float: left;
          width: 60%;
          padding: 20px;

          .team-member-block {
            float: left;
            text-align: center;
            width: 20%;
            padding: 0 8px;

            img {
              height: 100px;
              width: 100px;
              border-radius: 100%;
              border: solid 1px $aqua;
            }

            p {
              margin-bottom: .5rem;
            }

            i {
              color: #9A9A9A;
              margin: 0 8px;
              &:hover {
                color: silver;
              }
            }
          }
        }
      }

      .bar5 {
        height: 75%;
        .content-container {
          height: 100%;
          width: 100%;
        }
        .stack-group {
          float: left;
          margin: 10px 0;
          max-width: 20%;
          a {
            border: none;
            display: inline-block

            img {
              borer-radius: 20%;
              width: 100px;
              height: 80px;
            }
            img {
              width: auto;
              max-height: 80px;
            }
          }

          .stack-single {
            padding: 20px;
            width: 80%;
            height: auto;
            text-align: center;
          }
        }
      }

      .bar6 {
        height: 150px;
        width: 100%;
        background-color: $offBlack;
        text-align: center;
        h5 {
          margin-top: 10px;
          a {
            color: $aqua;
            &:hover {
              color: $aquaHover;
            }
          }
        }
      }

      .content-container, .title-block, .feature-block, .stack-group, .girls-coding-image {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .title-block {
        display: inline-block;
        padding: 40px;
        width: 40%;
      }

      .title-block-left {
        float: right;
        text-align: left;
       
      }

      .title-block-right {
        text-align: right;
      
        float: left;
      }


      .mission-header {
        padding-left: 5%;
      }

    }
  }
}

.canvas-holder.half {
  padding-bottom: 21px;
}

span.stat-number {
    font-size: 3.3em; 
}

span.stat-number {
  color:$darkPurple;
}

.song {
  position: fixed;
  right: 0px;
  z-index: 100;
}

.start-coding{
  padding: 0 25%;
}

.get-started{
  color: $aqua;
}

