#editor {
  z-index: 0;
}

.testResults {
  color: $purple;
}

.hints-wrapper {
  font-weight: 900;
  font-style: italic;
}

.hint-button {
  padding: 0 12px;

}

.instructionPanel {
  border-width: thin;
  letter-spacing: 0.09em;
  overflow-y: scroll;
  padding: 0 15px;
}
