

.testResults {
  color: $purple;
}

.hints-wrapper {
  font-weight: 900;
  font-style: italic;
}

.hint-button {
  padding: 0 12px;

}

.instructionPanel {
  border-width: thin;
  letter-spacing: 0.09em;
  overflow-y: scroll;
  padding: 0 15px 10px 15px;
}

.challengeEditor {
  width: 100%;
  overflow: hidden;
}


#editor {
  z-index: 0;
  width: 98%;
  height: 100%;
}


.bottom-bar {
  position: absolute;
  background-color: rgba(0,0,0,.8);
  border-right: 4px solid rbga(0,0,0);
  border-top: 1px solid #848586;
  box-sizing: border-box;
  height: 9%;
  width: 98%;
  bottom: 0.002em;
}

.action-bar-inner {
  height: 100%;
  width: 100%;
  padding: 5px 7px;
}

.ui-button {
  float: right;
  margin: 10px 10px;
}



