@import 'variables';

.congrats-wrapper {
  z-index: 10;
}

.congrats-info{
  margin: 0 auto;
  z-index: 10;
}

.congrats-continueDiv {
  z-index: 5;
  margin:auto;
  text-align: center;
  width:100%;
  margin-top: 1rem;
}

.congrats-title{
  text-align:center;
}

#doughnut{
  display: block;
  margin: auto;
  z-index: -1
}



.continueButton{
 @extend .button;

 & a {
  color: white;

}
}

