
.welcome-title {
  z-index: 5;
  font-family: 'Quicksand-regular', sans-serif;
}

a {
  font-style: bold;
  color: $purple;

  &:hover {
    color: $darkPurple;
  }

}

canvas {
  width: inherit;
  height: inherit;
  padding: 10px;
  background-image: url('../asset/section1Background.png');
  background-size: 100% 100%;
}

.welcome-container {
  width: 100%;
  height: 100%;
}
