
.welcome-title {
  z-index: 5;
  font-family: 'Quicksand-regular', sans-serif;
}

a {
  font-style: bold;
  color: $purple;

  &:hover {
    color: $darkPurple;
  }

}

canvas {
  width: inherit;
  height: 100%;
  padding: 10px;
}

.welcome-container {
  width: 100%
}
