@import "foundation";
@import "font-awesome";

@import 'variables';
@import "styles/fonts";
@import "styles/loginSignup";
@import "styles/header";
@import "styles/leaderboard";
@import "styles/welcome";
@import "styles/chat";
@import "styles/challenges";


body{
  font-family: 'Raleway-regular', sans-serif;
}

.shorty {
  height: 50%;
}

.challengeEditor {
  width: 100%;
  overflow: hidden;
}

#editor {
  width: 98%;
  height: 100%;
}

.sidepanel {
  @include grid-block(3, horizontal, false, right);
}

.leaderboard-container { 
  float: right;
}

h6 {
  color: #00e1ce;
}

.fullWidth {
  width: 100%;
}

.marginTop10 {
  overflow: hidden;
}

.welcome-header {
  padding-right: 50px;
  color: white;
  line-height: 47px;
}

.formContainer {
  opacity: 1;
  z-index: 10;
  width: 45%;
  padding: 25px 30px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}

label {
  padding-top: 10px;
  color: $primary;
}

.marginLeft10 {
  margin-left: 10px;
}

.bottom-bar  {
  background-color: gray;
  border-top: none;
  box-sizing: border-box;
  width:98%; 
  position: absolute;
  bottom: 0;
  padding: 3px 5px 5px 3px;
}

.action-bar-inner {
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

.button-horizontal {
  float: right;
}

.ui-button {
  cursor: pointer;
  border: 1px solid transparent; 
  height: 38px !important;
  padding: 0 .9em !important;
  background-color: $purple;
  font-size: large;

  &:hover {
    background-color: $darkPurple;
  }

  &:focus {
    background-color: $darkPurple;
  }
}

.hidden {
  display: none;
}






