import "foundation";

$aqua: #00e1ce;
$purple: #ff41f9;

.login {
  @include grid-block(12,horizontal, false, center)
}

.test {
  background-color: $aqua
}

.leaderboard-container { 
  float: right;
}

.message-section {
  max-height: 40%;
  width: 80%;

.test2 {
  background-color: $purple
}


