html, body {
  height: 100%;
}

.chat-section {
  position: fixed;
  bottom: 0;
  left: 30px;
}

.testing {
  display: block;
  background-color: pink;
}

.loginInDialog {
  border: 1px solid #a4baca;
}

.large-6.large-centered.columns.loginInDialog {
  padding-left: 0px;
  padding-right: 0px;
}

.leaderboard-container { 
  float: right;
}

.message-section {
  max-height: 40%;
  width: 80%;
}

.message-list, .message-submit-textarea {
  border: 1px solid lightgrey;
  font-size: 14px;
  width: 300px;
  margin: 0;
  overflow-y: auto;
  padding: 0;
}

.message-list {
  height: 300px;
}

.message-submit-textarea {
  height: 40px;
}

.formContainer {
  padding: 25px 30px 20px;
}

.formSignInViaInstagram {
  display: block;
  float: left;
}

#editor {
  height: 250px;
  width: 750px;
  left: 300px;
  bottom: 0px;
}

#videos {
  width: 100%;
  height: 490px;
  top: 50px;
  overflow: hidden;
  z-index: 2;
  background: rgb(0,0,0);
}

.video {
  height: 100%;
  width: 100%;
  opacity: 1;
  display: block;
}

.login-center {
  opacity:1;
  z-index: 10;
  margin-top: -350px;
}

.welcome-header {
  color: white,
}



