@import "foundation";
@import "font-awesome";
@import 'variables';
@import "styles/fonts";
@import "styles/loginSignup";
@import "styles/header";
@import "styles/leaderboard";
@import "styles/chat";
@import "styles/challenges";
@import "styles/about";
@import "styles/welcome";
@import "styles/congrats";
@import "styles/sun";
@import "styles/butterfly";
@import "styles/clouds";

body{
  font-family: 'Raleway-regular', sans-serif;

  #mobile-message {
    width: 100%;
    height: 100%;
    float: left;
    display: none;
  }
  
  @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 480px)
   and (-webkit-min-device-pixel-ratio: 2) {
    #mobile-message {
      img {
        width: 60%;
        height: auto;
        margin: 10% 20%;
      }
      display: block;
      background-color: lightgrey;
      color: black;
      top: 0;
      left: 0;
      font-size: 2rem;
      text-align: center;
    } 
    .main-content {
      display: none;
    }
  }


}

button {
  padding: 0 .9em;
  background-color: $purple;
  border: 0;
  color: white;
  height: 38px;
  margin-top: 4px;

  &:hover {
    background-color: $darkPurple;
  }

  &:focus {
  outline-color: rgb(199, 177, 211);
  }

}

.sidepanel {
    @include grid-block(3, horizontal, false, right);
}
.leaderboard-container {
    float: right;
}


ul.message-list {
    list-style-type: none;
}
span.message-date {
    float: right;
}
span.message-text {
    position: relative;
    left: 5px;
}

h6 {
    color: #00e1ce;
}
.fullWidth {
    width: 100%;
}

.welcome-header {
    padding-right: 50px;
    color: white;
    line-height: 47px;
}

.logOut {
    padding-right: 10px;
}

.formContainer {
    opacity: 1;
    z-index: 10;
    width: 45%;
    padding: 25px 30px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 10%;
}
label {
    padding-top: 10px;
    color: $primary;
}

.menu-bar {
    font-family: 'Quicksand-regular', sans-serif;
    li {
        a {
            font-size: x-large;
            span {
                line-height: 32px;
                vertical-align: middle;
            }
        }
    }
}
.marginTop10 {
    margin-top: 10px;
}


.marginLeft10 {
    margin-left: 10px;
}

.marginPullTop5 {
    margin-top: -5px
}

.mainContainer {
  overflow: hidden;
}
